:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: var(--Yellow);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Figtree;
}

main {
  background-color: var(--White);
  width: 400px;
  padding: 17px;
  border-radius: 15px;
  border: solid var(--Gray-950) 1px;
  box-shadow: 8px 8px 0 0 var(--Gray-950);
  margin: 30px;
}

main:hover {
  cursor: pointer;
}

.illustration {
  width: 100%;
  border-radius: 10px;
}

span {
  display: block;
}
span::first-letter {
  text-transform: uppercase;
}
.category {
  background-color: var(--Yellow);
  width: 35%;
  text-align: center;
  padding: 7px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 100%;
}

h1 {
  font-size: 23px;
  font-weight: 800;
}

.description {
  color: var(--Gray-500);
}

.illustration,
.textBox,
span,
h1,
p {
  margin-bottom: 20px;
}

.author {
  display: flex;
  align-items: center;
  gap: 13px;
}

.author img {
  width: 35px;
}

.name {
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 800;
}
@media (max-width: 25em) {
  .category {
    font-size: 70%;
  }
}
